.hero-certifications {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 30%;
}
.hero-certifications {
  background-image: url("./assets/3.jpg");
  background-position: 50% 45%;
  background-repeat: no-repeat;
  background-size: cover;
  background-clip: border-box;
}
.hero-certifications::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  background: rgb(20, 20, 20);
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    rgb(20, 20, 20) 95%
  );
}
.hero-certifications h2 {
  position: absolute;
  font-size: 2rem;
  z-index: 2;
  text-align: center;
}
.overview-certifications {
  display: flex;
  justify-content: center;
  align-content: space-around;
  flex-wrap: wrap;
  width: 88%;
  height: 20%;
}
.btns-header-cert {
  z-index: 1;
}

.header-switch-cert {
  background-color: #252525;
  box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.301);
}

.header-switch:hover {
  transform: scale(1.08);
}
.overview-certifications span {
  width: 50%;
  font-size: 1.2rem;
  color: #816dff;
}
.overview-certifications span {
  font-family: "Montserrat";
  font-weight: 200;
  display: flex;
  justify-content: center;
  text-align: center;
}
.overview-certifications p {
  font-family: "Montserrat";
  font-weight: 200;
  display: flex;
  justify-content: center;
  text-align: center;
}
.certifications-list {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: auto;
  gap: 1rem;
  padding: 4rem 0;
  justify-items: center;
  min-height: 40%;
}
.cert {
  display: inline-flex;
  justify-content: center;
  flex-wrap: wrap;
  align-content: space-around;
  width: 80%;
  height: auto;
  background-color: #ffffff;
  border-radius: 0.2rem;
  overflow: hidden;
}

.imageSection {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  cursor: pointer;
}
.cert-image {
  width: 100%;
  object-fit: cover;
}
.cert_info {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: space-between;
  padding-bottom: 1.5rem;

  padding-left: 5%;
  gap: 0.5rem;
  color: #1a1941;
}
.cert_info > h3 {
  width: 90%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: #11102c;
  cursor: pointer;
}
.cert_info > span {
  color: #11102c;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 0.95rem;
}
.cert_issuer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: auto;
  gap: 0.5rem;
  padding: 0 0.3rem;
}
.cert_issuer > a {
  color: #1a1941;
  font-family: "Montserrat";
  font-weight: 600;
}
.cert_issuer_img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 100%;
  box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.192);
  background-color: #fff;
}
.cert_issuer_img img {
  object-fit: cover;
  width: 90%;
}
.modal_back {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  background-color: #141414;
}
.modal_closeHandler {
  position: absolute;
  width: 100%;
  height: 100%;
}
.modal_closebutton {
  position: absolute;
  top: -2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: auto;
  font-size: 1.3rem;
  padding: 0.4rem 0.6rem;
  border-radius: 0.3rem;
  background-color: #ffffff4f;
}
.modal_closebutton:hover {
  filter: drop-shadow(0 0 5px #dfdfdf4b);
}
.modal_closebutton:active {
  transform: scale(1.02);
}
.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  height: auto;
  min-height: 30%;
  max-height: 90%;
  width: 90%;
  background-color: #252525;
  border-radius: 0.2rem;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 8px 24px;
  padding: 0.8rem 0.5rem;
}
.modal_infosection {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-content: space-between;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 0.5rem 0rem;
}
.modal h2 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.modal ul {
  width: 80%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.4rem;
}
.modal li {
  width: auto;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  border-radius: 1rem;
  background-color: rgb(250, 17, 87);
  color: rgb(255, 255, 255);
  text-align: center;
}
.modal_infosection > span {
  width: 80%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.3rem;
}
.modal_infosection > span > span {
  width: auto;
  height: auto;
  padding: 0.3rem;
  background-color: #313131;
  border-radius: 0.2rem;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 8px 24px;
  font-family: "Krona one";
}
.modal_buttons {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}
.modal_downloadbutton {
  width: 90%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
  padding: 0.8rem;
  background-color: #55acee;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 8px 24px;
  border-radius: 1.5rem;
  cursor: pointer;
}
@media screen and (min-width: 500px) {
  .modal_buttons {
    flex-wrap: nowrap;
  }
  .modal_downloadbutton {
    width: auto;
    padding: 0.8rem 2rem;
  }
}
@media screen and (min-width: 600px) {
  .certifications-list {
    grid-template-columns: auto auto;
    justify-items: center;
  }
  .cert {
    margin-bottom: 2rem;
    width: 85%;
  }
  .modal {
    width: 70%;
  }
  .modal_downloadbutton {
    padding: 0.8rem 1.5rem;
  }
}
@media screen and (min-width: 900px) {
  .cert {
    width: 80%;
  }
  .certifications-list {
    grid-template-columns: auto auto auto;
  }
  .modal {
    width: 50%;
  }
}
