*{
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  transition: all .2s ease;
}
h2,h3,h4,h1,span,p,a,div,header,body,button,input{
  color: white;
}
html{
  width: 100vw;
  height: 100vh;
}
body{
  width: 100%;
  height: 100%;
}
#root{
  display: flex;
  width: 100%;
  height: 100%;overflow-y: scroll;
  justify-content: center;
  align-content: flex-start;
  flex-wrap: wrap;
}


