.Loader-comp {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Loader-content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-content: flex-start;
  flex-wrap: wrap;
  gap: 5rem;
  padding: 5rem;
}
.Loader-comp h2 {
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 1.25rem;
  font-size: 2rem;
}
.Loader_in_comp {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: auto;
  padding: 1rem;
}
.Loader-light {
  display: flex;
  position: absolute;
  aspect-ratio: 1;
  filter: blur(15px);
  width: 10rem;
  height: 15rem;
  background-color: #fe004a;
  top: var(--t);
  left: var(--l);
  border-radius: var(--l1) var(--r1) var(--r4) var(--l4) / var(--l2) var(--r2) var(--r3) var(--l3) ;
}
